div {

    border: solid 4px black; 
    box-sizing: border-box;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 25px;
  }
  .box1{
    width:30%;
  }
  .box2{
    float: left;
    width:40%;
  }
  .box3 {
    float: right;
    border-color: black;
    width: 50%;  /** 横幅50% **/
    }
    .boxA {
      border: none;
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }