h1 {
  position: relative;
  margin-bottom: 100px;
  padding: 0.25em 0;
  text-align: center;
  content: "";
  display: block;
  height: 4px;
  border-top: 12px solid hsl(202, 82%, 53%);    /* 上側の1本線 */
}


.parent{
  position: relative;
  height: 80px;
}
.children{
  position: absolute;
  bottom:0;
}
.ryori{
  background-color: aqua;
}
.ryourigazou{
  background-color: aqua;

}
.zyouhou{
  background-color: aqua;
}
.tukurikata{
  background-color: aqua;
}